header {
    min-height: 100vh;

    background-image: url("../images/kevin-mueller-NjjONA3K0-k-unsplash.jpg");
}

header h1 {
    text-align: center;
}

header strong {
    display: inline-block;
    padding: 1rem;
    border-radius: 0.25rem;

    backdrop-filter: blur(10px) brightness(50%);
    box-shadow: 0.25rem 0.25rem yellow;

    font-size: 6rem;
}

header .header-info {
    flex-grow: 1;

    display: flex;

    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

header .header-info .header-left {
    width: 50%;
    min-width: 20rem;
    padding: 1rem;
}

header .header-info .header-right {
    width: 40rem;
    height: 30rem;
    min-width: 20rem;

    background-color: yellow;
}

.featured-project {
    min-height: 100vh;
}

.featured-project canvas {
    display: block;
    border-radius: 0.25rem;
    margin: 2rem auto;
}

.my-work {
}

.my-work {
}

.about-me {
}

.contact {
}

#project-1 {
    background-image: url("../images/james-harrison-vpOeXr5wmR4-unsplash.jpg");
}