header {
    width: 100%;
    min-height: 30rem;

    background-image: url("../images/james-harrison-vpOeXr5wmR4-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.my-work {
    border: 1px solid red;
}

.my-work h2 {
    text-align: center;
}

.about-me {
    border: 1px solid red;
}

.contact {
    border: 1px solid red;
}