header {
    width: 100%;
    min-height: 30rem;

    background-image: url("../images/james-harrison-vpOeXr5wmR4-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

.my-work {
}

.my-work {
}

.about-me {
}

.contact {
}

#project-1 {
    background-image: url("../images/james-harrison-vpOeXr5wmR4-unsplash.jpg");
}