/* Universal Styles */
* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

html {
    font-size: 16px;
}

body {
    background-color: coral;
}

header {
    z-index: -1;

    background-attachment: fixed;
}

nav {
    z-index: 1;

    width: 100%;
    padding: 3rem;
}

nav ul li {
    display: inline;
}

nav ul li a {
    background-color: aqua;

    font-weight: bold;
    text-decoration: none;
}

main {
    background-color: coral;
}

section {}

footer {
    background-color: green;

    text-align: center;
}

figure {
    overflow: hidden;
}

figure img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Classes */

.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 40rem;
    height: 20rem;
    margin: 1rem;
    border-radius: 0.5rem;

    background-color: white;

    overflow: hidden;
}

.project .project-info {
    position: relative;
    left: -20rem;

    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    opacity: 0;

    background-color: gray;

    transition: all 200ms ease;
}

.project .project-info .project-desc {
    padding: 1rem;
}

.project .project-info .project-links {
    position: relative;
    bottom: -20rem;

    padding: 1rem;
    margin-top: auto;
    opacity: 0;

    background-color: aqua;

    transition: all 200ms ease 100ms;
}

nav.static {
}

nav.fixed {
    position: fixed;
    top: -10rem;

    opacity: 0;

    background-color: red;

    transition: all 200ms ease;
}