* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

html {
    font-size: 16px;
}

body {
    scroll-snap-type: y mandatory;
}

header {
    z-index: -1;

    display: flex;
    padding: 4rem 0;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    flex-direction: column;
    scroll-snap-align: start;
}

nav {
    z-index: 1;

    width: 100%;
    padding: 1rem 1rem 1rem 4rem;
    flex-grow: 0;
}

nav ul {
    display: inline-block;
}

nav li {
    display: inline;
}

nav a {
    background-color: aqua;
    border-radius: 0.25rem;
    padding: 0.25rem;
    margin: 0.25rem;

    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;

    transition: all 250ms ease;
}

nav a:hover {
    background-color: yellow;
}

nav p {
    float: right;

    margin-right: 4rem;

    color: aqua;
    font-size: 2rem;
    font-weight: bold;
}

nav.static {
}

nav.fixed {
    position: fixed;
    top: -10rem;

    opacity: 0;

    background-color: rgba(138, 43, 226, 0.25);
    backdrop-filter: blur(10px) brightness(50%);

    border-bottom: 0.25rem solid blueviolet;

    transition: all 200ms ease;
}

main {
    background-color: coral;
}

section {
    min-height: 100vh;
    scroll-snap-align: start;
}

footer {
    min-height: 100vh;
    padding: 1rem;

    background-color: green;

    text-align: center;
    scroll-snap-align: start;
}

/* Classes */

.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 40rem;
    height: 20rem;
    margin: 1rem;
    border-radius: 0.25rem;

    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    overflow: hidden;
    box-shadow: 1rem 1rem crimson;
}

.project .project-info {
    position: relative;
    left: -20rem;

    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    opacity: 0;
    border-right: 0.25rem solid blue;

    background-color: hsla(0, 0%, 0%, 0.5);
    backdrop-filter: blur(10px) brightness(50%);

    transition: all 200ms ease;
}

.project .project-info .project-desc {
    padding: 1rem;
}

.project .project-info .project-links {
    position: relative;
    bottom: -20rem;

    padding: 1rem;
    margin-top: auto;
    opacity: 0;

    background-color: aqua;

    transition: all 200ms ease 100ms;
}